#subnavbar {
	background-color: rgba(20, 20, 20, 0.75);
	margin-top: 47px;
}
#form1{
	margin-top : 0px;
	padding : 10px;
}
#container{
	margin-top : 50px;
}
h1{
	text-align : center;
	color: rgb(240,240,240);
}
body { 
	background-image: url('Images/About/pesu.png');
    background-attachment: fixed;
    background-size: cover;
}
label{
	color: rgb(240,240,240);
}
.move{
	margin-left : 65px;
}
#form1{
	margin-top : 80px;
}